/* Estilo para tablets */

@media only screen and (min-width: 788px) and (max-width: 979px) {
    /* Qualidade Home */

    .qualidade::after {
        right: 66px;
    }

    .qualidade_lista li {
        padding: 0 10px;
    }

    /* Footer */

    .footer_redes ul li a {
        padding: 5px;
    }

    .footer_redes ul li a img {
        width: 25px;
        height: 25px;
    }
}

/* Estilo para smartphones */

@media only screen and (max-width: 787px) {
    /* Header */

    .header {
        position: relative;
    }

    .header img {
        margin: 0 auto 10px auto;
    }

    .header_menu {
        text-align: center;
        margin: 0;
    }

    .header_menu ul li {
        margin: 5px;
    }

    .header_menu ul li a {
        border: 3px solid #000000;
        width: 135px;
        display: block;
        float: left;
    }

    .header_menu ul li a:hover {
        border-color: #FFFFFF;
    }

    .header_menu ul li a.menu_ativo {
        border-color: #FFFFFF;
    }

    /* Introdução */

    .introducao {
        margin-top: 0;
        padding-top: 55px;
        background: url('../img/bg-mobile.jpg') no-repeat center;
        background-size: cover;
    }

    .introducao h1 {
        font-size: 36px;
    }

    /* Introdução Interna */

    .introducao-interna {
        margin-top: 0;
    }

    /* Call */

    .call {
        padding-top: 0;
    }

    /* Qualidade Home */

    .qualidade::after {
        display: none;
    }

    /* Página Sobre */

    .missao_sobre p {
        font-size: 14px;
        line-height: 20px;
        padding-right: 0;
    }

    .missao_sobre ul li {
        font-size: 14px;
        line-height: 25px;
    }
}